.memorize-game-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.memorize-game-cards-grid > .flip-card {
  cursor: pointer;
}

.back-button {
  margin-bottom: 16px;
}
